<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{tab}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{tab}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="pageServices">
    <ion-row class="rowProject">
      <ion-col>
        <ion-item lines="none">
          <ion-label>Concrete Project</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" (ionChange)="onProject($event)">
            <ion-select-option *ngFor="let p of projects" [value]="p">
              {{ p.city + ' - ' + p.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="project === null">
      <ion-col>
        <ion-img src="assets/logo.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="project?.weather as W">
        <ion-label>Weather</ion-label>
        <ion-item lines="none">
          <ion-label>Visibility {{W.visibility}} | Humidity {{W.main.humidity}} | Wind {{W.wind.speed}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="project" class="rowMap">
      <ion-col>
        <div #map id="map"></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="project">
      <ion-col>
        <div *ngIf="places > 0 else loading">
          <ion-label color="danger">{{places}} Businesses will be affected by the construction !!</ion-label>
          <ion-card color="warning">
            <ion-card-content>
              <b>Message to Business owner,</b><br>
              A construction is planned from x to y.<br>
              Please inform your customers.
            </ion-card-content>
          </ion-card>
        </div>
        <ng-template #loading>
          <ion-spinner name="lines" class="ion-text-center"></ion-spinner>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
